a {
  text-decoration: none;
  color: black;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1%;
}

.details-info {
  align-items: center;
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: space-evenly;
}

.seller-orders {
  align-items: center;
  background-color: rgb(245, 245, 245);
  display: flex;
  margin-top: 20px;
  padding: 5px 5px 5px 0;
  width: fit-content;
}

.seller-orders > * {
  margin: 5px;
  margin-right: 0;
}
